@charset "ISO-8859-1";


html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.h100Body {
	height: 100vh;
}

.col-wrapper {
	
}

.beibe-logo {
	position: relative;
	width: auto;
}

.supportInfo {
	padding: 0;
}